spring:
  application:
    name: familyroutine
  jackson:
    deserialization:
      # Impede propriedades desconhecidas nas requisições HTTP
      fail-on-unknown-properties: true
  jpa:
    database: H2
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: update
  # fix me: naming shall be removed. Only added so the database is able to use camel case names
      naming: 
        physical-strategy: 
          org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
  h2: 
    console:
      encoding: UTF-8
      enabled: true
      path: /h2-ui
  datasource:
    url: jdbc:h2:mem:familyroutine
    driverClassName: org.h2.Driver
    username: admin
    password: admin
    

server:
  port: 8080
  error:
    include-message: always
    include-stacktrace: always